
<link rel="import" href="/html/header.html">
<body id="login">
    <div class="wrapper">
        <div class="max-width">
            <div class="logo flex-center flex- animated zoomIn">
                    <i class="fas fa-eye"></i>
                    <div class="title animated fadeInLeft">TrueYou</div>
            </div>
            <div class="login-details">
                    <div class="subtitle animated fadeInLeft">Log In</div>
                    <div class="input-box animated  fadeInRight"><input type="text" name="" placeholder="Telefoonnummer" class="flex-1"></div>
                    <div class="input-box animated  fadeInLeft"><input type="text" placeholder="Private Key" class="flex-1"> </div>
                    <div class="lg-btn d-flex flex-1 animated  fadeInRight"><button id="trueYouLogin" class="flex-1" onclick="login()">Log In</button></div>
            </div>
        </div>
    </div>
</body>
<link rel="import" href="/html/footer.html">
            

