<link rel="import" href="/html/header.html">
<body id="streams">
<ul id="menu">
    <li><a href="#home">Home</a></li>
    <li><a class="" href="/stream">Streams</a></li>
    <li><a class="" href="/stream/4">Streams 4</a></li>
    <li style="float:right"><a href="/login">Logout</a></li>
</ul>
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="streamvideo">
                    <video width="100%" controls>
                        <source src="mov_bbb.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div id="chat" class="chat">
                    <div class="chatbar chatpadding">
                        <p class="chatBarTitle">TrueYou chat</p>
                    </div>
                    <div class="chatdisplay col-xs-12  chatpadding">
                        <div class="chatMessage col-xs-12"><div class="col-sm-2 nopadding img"><img class="userImg" src="/img/user_img2.png" /></div><div class="col-sm-10 nopadding"><span class="chatUserName">Kees de Groot</span>Lorem ipsum dolor sit amet, consectetur a sit amet, consectetur adipiscing elit, sed</div></div>
                        <div class="chatMessage col-xs-12"><div class="col-sm-2 nopadding img"><img class="userImg" src="/img/user_img2.png" /></div><div class="col-sm-10 nopadding"><span class="chatUserName">Piet Klasen</span>Lorem ipsum dolor sit amet, consectetu sit amet, consectetur ar adipiscing elit, sed</div></div>
                        <div class="chatMessage col-xs-12"><div class="col-sm-2 nopadding img"><img class="userImg" src="/img/user_img2.png" /></div><div class="col-sm-10 nopadding"><span class="chatUserName">Peter van Opstal</span>Lorem ipsum do sit amet, consectetur a lor sit amet, consectetur adipiscing elit, sed</div></div>
                        <div class="chatMessage col-xs-12"><div class="col-sm-2 nopadding img"><img class="userImg" src="/img/user_img2.png" /></div><div class="col-sm-10 nopadding"><span class="chatUserName">Karel Flora</span>sit amet, consectetur a Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</div></div>
                        <div class="chatMessage col-xs-12">
                            <div class="col-sm-2 nopadding img"></div>
                            <div class="webflow-style-input col-xs-10">
                                <input class="sendMessage" type="text" placeholder="Send a message"></input>
                                <button class="_3M-N-" onclick="sendMessage( this )"><span data-icon="send" class=""><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#263238" fill-opacity=".45" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path></svg></span></button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row otherStreams">
            <div class="heading col-xs-12 col-md-12"> 
                <div id="left">
                    <p>Other streams</p>
                </div>
                <!-- <div id="right">
                </div> -->
            </div>
            <div class="col-xs-12 col-md-3"> 
                <div class="streamvideo">
                    <video width="100%" controls>
                        <source src="mov_bbb.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="streamDescription" >
                        <p class="descriptionTitle">Piet klasen</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3"> 
                <div class="streamvideo">
                    <video width="100%" controls>
                        <source src="mov_bbb.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="streamDescription" >
                        <p class="descriptionTitle">Piet klasen</p>
                    </div>
                </div>
            </div> 
            <div class="col-xs-12 col-md-3"> 
                <div class="streamvideo">
                    <video width="100%" controls>
                        <source src="mov_bbb.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="streamDescription" >
                        <p class="descriptionTitle">Piet klasen</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3"> 
                <div class="streamvideo">
                    <video width="100%" controls>
                        <source src="mov_bbb.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="streamDescription" >
                        <p class="descriptionTitle">Piet klasen</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</body>
<link rel="import" href="/html/footer.html">